/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background: url("../assets/img/hero-bg.jpeg") center center;
    background-size: cover;
    position: relative;

    .container {
        padding-top: 80px;
    }

    #hero :before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    h2 {
        color: #eee;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    .btn-get-started {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }

    .btn-get-started:hover {
        background: pink;
        border: 2px solid #B695C0;
    }
}


@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero .container {
        padding-top: 60px;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }
}

/*--------------------------------------------------------------
# Hero-contacto Section
--------------------------------------------------------------*/
#hero-contacto {
    width: 100%;
    height: 80vh;
    background: url("../assets/img/hero-contacto-bg.jpg") center center;
    background-size: cover;
    position: relative;
}

#hero-contacto container {
    padding-top: 80px;
}

#hero-contacto :before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero-contacto h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero-contacto h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#hero-contacto .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#hero-contacto .btn-get-started:hover {
    background: #B695C0;
    border: 2px solid #B695C0;
}

@media (min-width: 1024px) {
    #hero-contacto {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero-contacto {
        height: 100vh;
    }

    #hero-contacto .container {
        padding-top: 60px;
    }

    #hero-contacto h1 {
        font-size: 32px;
        line-height: 36px;
    }
}