/*--------------------------------------------------------------
# Testimonials-> cambiar por ""
--------------------------------------------------------------*/
.testimonials {
        
    .testimonials-carousel,
    .testimonials-slider{
    overflow: hidden;
    }

    .testimonial-item {
        box-sizing: content-box;
        padding: 30px 30px 0 30px;
        margin: 30px 15px;
        text-align: center;
        min-height: 350px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        background: #fff;

        .testimonial-img {
            width: 90px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin: 0 auto;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;
        }

        h4 {
            font-size: 14px;
            color: #999;
            margin: 0;
        }

        .quote-icon-left{
            color: #B695C0;
            font-size: 26px;
            display: inline-block;
            left: -5px;
            position: relative;
        }

        .quote-icon-right{
            color: #B695C0;
            font-size: 26px;
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;

        }

        p {
            font-style: italic;
            margin: 0 auto 15px auto;
        }


    }

    .swiper-pagination {
        margin-top: 20px;
        position: relative;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #B695C0;
        }

        .swiper-pagination-bullet-active {
            background-color: #B695C0;
        }
    }
}